# Jupyter notebook project 1
## Function: read and display excel records

In [5]:
#import modules
import pandas as pd

#varibales
file_name = "C:\\Users\\gunz\\Desktop\\Peti\\python-ET-4314028-main\\myexcel.xlsx"
sheet = "basic_sheet"

#read data from Excel
data = pd.read_excel(file_name, sheet_name=sheet)
attr = data.attrib_2

In [6]:
#using print
print("<-------all data ----->")
print(data)
print()
print("<------just the selected attribute------>")
print()
print(attr)
print()
print("-------only the first 5 rows from the attribute------>")
print()
for i in range(5):
    print(attr.loc[i])

<-------all data ----->
  attrib_1 attrib_2 attrib_3 attrib_4 attrib_5
0       A1       B1       C1       D1       E1
1       A2       B2       C2       D2       E2
2       A3       B3       C3       D3       E3
3       A4       B4       C4       D4       E4
4       A5       B5       C5       D5       E5
5       A6       B6       C6       D6       E6
6       A7       B7       C7       D7       E7
7       A8       B8       C8       D8       E8
8       A9       B9       C9       D9       E9

<------just the selected attribute------>

0    B1
1    B2
2    B3
3    B4
4    B5
5    B6
6    B7
7    B8
8    B9
Name: attrib_2, dtype: object

-------only the first 5 rows from the attribute------>

B1
B2
B3
B4
B5

In [7]:
# compare files - discovered accidentally
print(data == pd.read_excel(file_name, sheet_name=sheet))

   attrib_1  attrib_2  attrib_3  attrib_4  attrib_5
0      True      True      True      True      True
1      True      True      True      True      True
2      True      True      True      True      True
3      True      True      True      True      True
4      True      True      True      True      True
5      True      True      True      True      True
6      True      True      True      True      True
7      True      True      True      True      True
8      True      True      True      True      True

In [9]:
# using display
from IPython.display import display, HTML
display(HTML('<h2>All data</h2>'))
display(data)
display(HTML('<h2>Selected attribute</h2>'))
display(attr)
display(HTML('<h2>First 5 records from the selected attribute</h2>'))
for i in range(5):
    display(attr.loc[i])

  attrib_1 attrib_2 attrib_3 attrib_4 attrib_5
0       A1       B1       C1       D1       E1
1       A2       B2       C2       D2       E2
2       A3       B3       C3       D3       E3
3       A4       B4       C4       D4       E4
4       A5       B5       C5       D5       E5
5       A6       B6       C6       D6       E6
6       A7       B7       C7       D7       E7
7       A8       B8       C8       D8       E8
8       A9       B9       C9       D9       E9

0    B1
1    B2
2    B3
3    B4
4    B5
5    B6
6    B7
7    B8
8    B9
Name: attrib_2, dtype: object

'B1'

'B2'

'B3'

'B4'

'B5'